<body>
    <h1>Cargar archivos CSV</h1>
    <form method="POST" action="/cargar_csv" enctype="multipart/form-data">
        <input type="file" name="archivos_csv" accept=".csv" multiple>
        <input type="submit" value="Cargar" onclick="mostrarCargando()">
    </form>
    
    <div id="cargando" style="display: none;">
        Cargando archivos... Por favor, espere.
    </div>

    <div id="indices" style="display: none;">
        Ejecutando los inidces... Por favor, espere.
    </div>

    <form method="post" action="/index_exe">
        <button onclick="exeIndex()" type="submit">Ejecutar Indices</button>
    </form>

    <button onclick="abrirVentanaCRUD()">Abrir Ventana CRUD</button>
    
    <script>
        function mostrarCargando() {
            document.getElementById('cargando').style.display = 'block';
        }

        function abrirVentanaCRUD() {
            window.open("/crud_operations", "_blank");
        }

        function exeIndex() {
            document.getElementById('indices').style.display = 'block';
        }
    </script>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            <a href="/consultas">Ir a Consultas</a>  <!-- Agrega un enlace a la página de consultas -->
        {% endif %}
    {% endwith %}
</body>
